# ------------------------------------------------ Eclipse
.project
.classpath
tmp/
.settings/
eclipse/
project/
lib/

# ------------------------------------------------ 其它文件
target/
logs/
log/
bin/
*.log
*.logs
*.class
resource-test.properties
logback.xml

# ------------------------------------------------ Intellij IDEA
*.iml
.idea/